
body {
  background-color: #CBC3E3;
  font-family:Verdana (sans-serif)
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}


#title {
  text-align: center;
  font-family: Cursive;
  margin: -40px 0 0 0;
}
#main {
  margin: 30px 8px;
  padding-top: 15px;
  padding-bottom: 25px;
  border-radius: 10px;
  background: #CBC3E3;
}

#img-caption {
  margin: 15px 0 5px 0;
  font-family: Cursive;
  font-weight: bold;
}
#tribute-info {
  margin: -50px auto 0 auto;
  padding: 0 auto 50px 50px;
  border-radius: 10px;
}

h3 {
  background: #301934;
}

footer{
  background: #301934;
}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}






.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
